*{
    margin:0;
    padding:10;
    box-sizing:border-box;
}

body{
    font-family: Arial, sans-serif;
    background: linear-gradient(skyblue, royalblue, white);
    min-height:100vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:30px;
}

h1{
    color:white;
    margin-bottom:25px;
    letter-spacing:1px;
}

a{
    text-decoration:none;
    font-weight:bold;
}

p{
    font-size:18px;
    color:black;
    margin-bottom:10px;
}

